.input-group {
  margin-left: 20px;
}

.input-group .label-email {
  display: block;
}

.input-group .label-email::after {
  content: '*';
  color: red;
}

.input-group input {
  margin-top: 4px;
}

nav ul {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  border: 1px solid #000;
  width: fit-content;
}

nav ul li {
  border-left: 1px solid #000;
  position: relative;
}

nav ul li:first-child {
  border-left: none;
}

nav ul li a {
  color: #000;
  display: block;
  padding: 10px;
}

nav ul .menu1:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: #0093dd;
}
